<xf:title>{{ phrase('host2x_core_servers') }}</xf:title>

<xf:pageaction>
	<xf:button href="{{ link('host2x/servers/add') }}" icon="add">{{ phrase('host2x_core_add_server') }}</xf:button>
</xf:pageaction>

<xf:if is="$servers is not empty">
	<xf:form action="{{ link('host2x/servers/toggle') }}" class="block" ajax="true">
		<div class="block-outer">
			<xf:macro template="filter_macros" name="quick_filter" arg-key="host2x-server" arg-class="block-outer-opposite" />
		</div>
		<div class="block-container">
			<div class="block-body">
				<xf:datalist>
					<xf:foreach loop="$servers" value="$server">
						<xf:datarow>
							<xf:cell class="dataList-cell--link dataList-cell--main" hash="{$server.server_id}">
								<a href="{{ link('host2x/servers/edit', $server) }}">
									<div class="dataList-mainRow">{$server.name}</div>
								</a>
							</xf:cell>
							<xf:delete href="{{ link('host2x/servers/delete', $server) }}" />
						</xf:datarow>
					</xf:foreach>
				</xf:datalist>
			</div>
		</div>
	</xf:form>
<xf:else />
	<div class="blockMessage">{{ phrase('no_items_have_been_created_yet') }}</div>
</xf:if>