<xf:title>{{ phrase('host2x_core_plan_servers:') }} {$plan.name}</xf:title>

<xf:pageaction>
	<xf:button href="{{ link('host2x/plans/servers/add', $plan) }}" icon="add">{{ phrase('host2x_core_add_server') }}</xf:button>
</xf:pageaction>

<xf:if is="$servers is not empty">
	<xf:form action="{{ link('host2x/plans/servers', $plan) }}" class="block">
		<xf:if is="!$showingAll">
			<div class="block-outer">
				<div class="block-outer-main">
					<xf:button class="button--link menuTrigger" data-xf-click="menu" aria-expanded="false" aria-haspopup="true">
						{{ phrase('sort_by:') }} {{ $sortOptions.{$order} ?: phrase('name') }}
					</xf:button>

					<div class="menu" data-menu="menu" aria-hidden="true">
						<div class="menu-content">
							<h3 class="menu-header">{{ phrase('sort_by...') }}</h3>
							<xf:foreach loop="$sortOptions" key="$sortKey" value="$sortName">
								<a href="{{ link('host2x/plans/servers', $plan, {'criteria': $criteria, 'order': $sortKey}) }}"
									class="menu-linkRow {{ $order == $sortKey ? 'is-selected' : '' }}">
									{$sortName}
								</a>
							</xf:foreach>
						</div>
					</div>
				</div>
				<xf:macro template="filter_macros" name="quick_filter" arg-key="servers"
					arg-ajax="{{ link('host2x/plans/servers', $plan, {'criteria': $criteria}) }}"
					arg-class="block-outer-opposite" />
			</div>
		</xf:if>
		<div class="block-container">
			<div class="block-body">
				<xf:datalist>
					<xf:foreach loop="$servers" value="$server">
						<xf:datarow>
							<xf:main href="{{ link('host2x/plans/servers/edit', $plan, {'server_id': $server.server_id}) }}" label="{$server.name}" />
							<xf:delete href="{{ link('host2x/plans/servers/remove', $plan, {'server_id': $server.server_id}) }}" />
						</xf:datarow>
					</xf:foreach>
					<xf:if is="$filter AND $total > $perPage">
						<xf:datarow rowclass="dataList-row--note dataList-row--noHover js-filterForceShow">
							<xf:cell colspan="3">{{ phrase('more_records_matching_filter_more_specific') }}
							</xf:cell>
						</xf:datarow>
					</xf:if>
				</xf:datalist>
			</div>
			<div class="block-footer block-footer--split">
				<span class="block-footer-counter">{{ display_totals($servers, $total) }}</span>
			</div>
		</div>

		<xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
			link="host2x/plans/servers"
			params="{{ {'criteria': $criteria, 'order': $order, 'direction': $direction} }}"
			wrapperclass="js-filterHide block-outer block-outer--after" />
	</xf:form>
<xf:else />
	<div class="blockMessage">{{ phrase('no_records_matched') }}</div>
</xf:if>